<div class="container-fluid restaurant-view">
  <div class="row">
    <div class="col">
      <div id="map" class="rv-map"></div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <img src="{{@restaurant.thumb}}" alt="Restaurant Image"
        class="circle" height="80" width="80">
    </div>

    <div class="col">
      <h3 class="card-title text-light">{{@restaurant.name}}</h3>
      <div class="card-badge-row">
        {{#each (split-on @restaurant.cuisines ",") key="@index" as |c|}}
          <span class="badge badge-pill badge-primary">{{c}}</span>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mt-2">
      <h4 class="text-primary">User Rating</h4>
      <p class="text-light">
        <i class="fas fa-star"></i>
        {{@restaurant.user_rating.aggregate_rating}} / 5
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4 class="text-primary">Average Cost</h4>
      <p class="text-light">{{@restaurant.currency}} {{div @restaurant.average_cost_for_two 2}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col mt-2">
      <button class="btn btn-primary btn-small" onclick={{action openMenu @restaurant}}>
        View Menu
      </button>
    </div>
  </div>

  <button class="btn btn-fab btn-primary circle position-bottom-right" onclick={{action toggleFavouriteRestaurant}}>
    {{#if (eq isFavourited true)}}
      <i class="fas fa-star fa-2x"></i>
    {{else}}
      <i class="far fa-star fa-2x"></i>
    {{/if}}
  </button>
</div>
