{{#if @restaurant.name}}
  <div id="#restaurant-preview" class="restaurant-preview">
    <div class="container-fluid">
      <div class="row">

        <div class="col-4 preview-thumbnail"
          style="background-image: url({{@restaurant.thumb}})">
        </div>

        <div class="col">
          <div class="preview-content">
            <h4 class="title">{{@restaurant.name}}</h4>

            <p>
              <i class="fas fa-star"></i>
              {{@restaurant.user_rating.aggregate_rating}} / 5
            </p>

            <button class="btn btn-primary" onclick={{action @setRoute @restaurant}}>See more</button>
          </div>

        </div>

        <button
          class="btn btn-fab-sm btn-transparent circle position-top-right text-light"
          onclick={{action @removeSelected}}>
            <i class="fas fa-times"></i>
        </button>

      </div>
    </div>
  </div>
{{/if}}
