<div class="container-fluid text-center glimmer-navbar pt-3 pb-3">
  <div class="row">

    <div class="col {{if (eq @currentRoute 'map') 'selected'}}"
      onclick={{action @setRoute 'map'}}>
      <i class="fas fa-map-marker"></i>
    </div>

    <div class="col {{if (eq @currentRoute 'restaurants-list') 'selected'}}"
      onclick={{action @setRoute 'restaurants-list'}}>
      <i class="fas fa-list-ul"></i>
    </div>

    <div class="col {{if (eq @currentRoute 'favourites') 'selected'}}"
      onclick={{action @setRoute 'favourites'}}>
      <i class="fas fa-star"></i>
    </div>

    <div class="col {{if (eq @currentRoute 'about') 'selected'}}"
      onclick={{action @setRoute 'about'}}>
      <i class="fas fa-question"></i>
    </div>

  </div>
</div>
